
*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

ul, ol {
    list-style: none;
}

html {
    color-scheme: dark light;
    hanging-punctuation: first last;
}

html:focus-within{
    scroll-behavior: smooth;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input, button, textarea, select{
    font: inherit;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

@media (presers-reduced-motion: no-preference) {
    html:focus-within, :has(:target) {
        scroll-behavior: smooth;
    }
}

body, html{
    scroll-padding-top: 3rem;
}

body {
    min-height: 100svh;

    main {
        display: flex;
        flex-direction: column;
        padding-top: 76px;
        padding-bottom: 50px;
        padding-inline: 10% 20%;
        min-height: 100svh;

        @media (max-width: 950px) {
            padding-inline: 5%;
            padding-top: 40px;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
            padding-bottom: 0.5rem;
        }

        h3 {
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }

        p {
            text-wrap: pretty;
            margin-bottom: 1rem;
            font-family: "Bitter", serif;
            font-size: 1.2rem;
        }

        a {
            color: inherit;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: "Rubik glitch", system-ui;
}

p {
    text-wrap: pretty;
    margin-bottom: 1rem;
    font-family: "Bitter", serif;
    font-size: 1.2rem;
}

nav {
    height: 100px;

    @media (max-width: 700px) {
        height: fit-content;
    }
    ul {
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        height: 100%;
        align-items: center;

        @media (max-width: 700px) {
            font-size: 1.5rem;
            flex-wrap: wrap;
            justify-content: flex-end;

            li {
                width: 40%;
                padding-block: 10px;
            }
        }

        li {
            cursor: pointer;
            font-family: "Rubik glitch", system-ui;
            transition: transform 0.3s ease-in;

            a {
                text-decoration: none;
                color: inherit;
                transform: scale(1);
            }

            &:hover {
                transform: scale(1.2);
            }

            &:not(a) {
                cursor: not-allowed;
            }

            &#change-color {
                cursor: pointer;

                :hover {
                    filter: invert(30);
                }
            }
        }
    }
}
